<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static_weapon_by_category/weaponByCategoryPage.css">
    <link rel="shortcut icon" href="/static_main_page/media/logoImg.png" type="image/x-icon">
    <script src="/static_weapon_by_category/weaponByCategoryPage.js"></script>
    <title>BRAKOSH</title>
</head>
<body>
    <header>
        <div class="headerTop">
            <div class="logoBox">
                <img class="logoImg" src="/static_main_page/media/logoImg.png" alt="">
                <h1 class="logoText">BRAKOSH</h1>
            </div>
            <div class="phoneNumberBox">
                <img class="phoneIcon" src="/static_main_page/media/phoneIcon.png" alt="">
                <h3 class="phoneNumber">+8(800)-555-35-35</h3>
            </div>
            <div class="cartBox">
                <img class="cartIcon" src="/static_main_page/media/cartIcon.png" alt="" onclick="renderCart()">
                <p class="cartInfoText"><b>Корзина:</b> 0 товаров - 0$</p>
            </div>
        </div>
        <div class="headerBottom">
            <nav class="navigationMenu">
                <ul>
                    <li class="navigationElement" id="navigationElement" onclick="openSomePage('/mainPage')"><a >Главная</a></li>
                    <li class="navigationElement" id="navigationElementExtendable"><a>Каталог</a></li>
                    <li class="navigationElement" id="navigationElement"><a href="#">Блог</a></li>
                    <li class="navigationElement" id="navigationElement" onclick="openSomePage('/about_us')"><a>О нас</a></li>
                    <li class="navigationElement" id="navigationElement" onclick="openSomePage('/map')"><a>Контакты</a></li>
                </ul>
                <div class="extendableMenu" id="extendableMenu" style="display: none;">
                    <ul>
                        {% for category in categories %}
                            <li class="extendableMenuElement" id="extendableMenuElement"><a onclick="openGunByCategoryPage({{ category.id }})">{{ category.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </nav>
            <form class="searchBar" action="/gun/search/">
                <input class="searchBarTextBox" id="searchBarTextBox" type="search" name="query" placeholder="Search" autocomplete="off">
                <button class="searchButton" id="searchIcon" type="submit"></button>
            </form>
        </div>
    </header>
    <main>
        <div class="cart">
            <div class="cart-header">
            </div>
            <ul class="cart-items">
            </ul>
            <div class="cartButtonsBox">
                <button id="clearCartButton">ИЛИ ОЧИСТИТЬ КОРЗИНУ</button>
                <button id="buyButton">ЗАКАЗАТЬ</button>
            </div>
        </div>

        <h1 style="margin-top: 100px;">{{ category.name }}</h1>
        <div class="weaponGridContainer">
            {% for gun in guns %}
                <div class="weaponBox">
                <img class="weaponBoxImage" src="/static_weapon_page/images/{{ gun.image }}" alt="">
                <h2 class="weaponBoxPrice">{{ gun.price }}$</h2>
                <h3 class="weaponBoxName">{{ gun.name }}</h3>
                <p class="weaponBoxDescription">
                    {{ gun.description }}
                </p>
                <div class="weaponBoxMenu">
                    <button class="moreInfoButton" type="button" onclick="openGunPage({{gun.id}}, {{gun.category_id}})">ПОДРОБНЕЕ</button>
                    <img class="weaponBoxCartIcon" style="border-top-right-radius: 5px; border-bottom-right-radius: 5px;" src="/static_main_page/media/cartIcon.png" alt=""  onclick="addItemToCart({{gun.id}}, '{{gun.image}}', '{{gun.price}}', '{{gun.name}}', this.id)">
                    <span class="plusOne" id="plusOne-{{gun.id}}">+1</span>
                </div>
            </div>
            {% endfor %}
        </div>
    </main>
</body>
</html>