body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 80%;
    height: max-content;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
    vertical-align: middle;
}

.headerTop {
    width: auto;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logoBox {
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logoImg {
    height: 70px;
    width: 70px;
}

.logoText {
    padding-left: 10px;
}

.phoneNumberBox {
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.phoneIcon {
    height: 40px;
    width: 40px;
}

.phoneNumber {
    padding-left: 10px;
}

.cartBox {
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #F93645;
    border-radius: 5px;
}

.cartIcon {
    height: 35px;
    width: 35px;
    background-color: #F93645;
    padding: 10px;
}

.cartInfoText {
    padding: 0px 10px;
}

.headerBottom {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.navigationMenu {
    width: max-content;
    height: max-content;
    display: grid;
    justify-content: center;
    background-color: #3F3F3F;
    color: aliceblue;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.navigationMenu ul {
    padding-right: 40px;
    padding-left: 0px;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navigationElement {
    width: max-content;
    height: max-content;
    padding: 20px 30px;
    list-style: none;
    margin-left: 40px;
    transition: all 0.2s ease-in-out;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
}

.navigationElement:hover {
    background-color: aliceblue;
    color: #3F3F3F;
    border-top: 2px solid #3F3F3F;
    border-bottom: 2px solid #3F3F3F;
}

.extendableMenu {
    width: max-content;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3F3F3F;
    color: aliceblue;
    border-radius: 10px;
    border-radius: 10px;
    display: none;
    position: absolute;
    transition: all 0.2s ease-in-out;
    top: 34%;
    left: 52vh;
    transform: translate(-50%, -50%);
}

.extendableMenu ul {
    margin: 0;
    padding: 0px 20px 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.extendableMenuElement {
    width: 85%;
    height: max-content;
    padding: 10px 20px 10px 20px;
    margin-top: 10px;
    list-style: none;
    transition: all 0.2s ease-in-out;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    border-radius: 5px;
    text-align: center;
}

.extendableMenuElement:hover {
    background-color: aliceblue;
    color: #3F3F3F;
    border-top: 2px solid #3F3F3F;
    border-bottom: 2px solid #3F3F3F;
}

.searchBar {
    flex-grow: 1;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: #3F3F3F;
    color: aliceblue;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 17px 30px 17px 0px;
}

.searchBarTextBox {
    padding: 5px;
    background-color: #3F3F3F;
    border: 0;
    margin-right: 20px;
    color: aliceblue;
    font-size: 18px;
}

.searchIcon {
    width: 25px;
    height: 25px;
}
