body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 80%;
    height: max-content;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
    vertical-align: middle;
}

.headerTop {
    width: auto;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logoBox {
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logoImg {
    height: 70px;
    width: 70px;
}

.logoText {
    padding-left: 10px;
}

.phoneNumberBox {
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.phoneIcon {
    height: 30px;
    width: 30px;
}

.phoneNumber {
    padding-left: 10px;
}

.cartBox {
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #F93645;
    border-radius: 5px;
}

.cartIcon {
    height: 35px;
    width: 35px;
    background-color: #F93645;
    padding: 10px;
    transition: all 0.2s ease-in-out;
}

.cartIcon:hover {
    cursor: pointer;
    transform: scale(1.15);
    border-radius: inherit;
}

.cartInfoText {
    padding: 0px 10px;
}

.headerBottom {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.navigationMenu {
    width: max-content;
    height: max-content;
    display: grid;
    justify-content: center;
    background-color: #3F3F3F;
    color: aliceblue;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.navigationMenu ul {
    padding-right: 40px;
    padding-left: 0px;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navigationElement {
    width: max-content;
    height: max-content;
    padding: 20px 30px;
    list-style: none;
    margin-left: 2vw;
    transition: all 0.2s ease-in-out;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
}

.navigationElement:hover {
    background-color: aliceblue;
    color: #3F3F3F;
    border-top: 2px solid #3F3F3F;
    border-bottom: 2px solid #3F3F3F;
}

.extendableMenu {
    width: max-content;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3F3F3F;
    color: aliceblue;
    border-radius: 10px;
    border-radius: 10px;
    display: none;
    position: absolute;
    transition: all 0.2s ease-in-out;
    top: 33%;
    left: 52vh;
    transform: translate(-50%, -50%);
}

.extendableMenu ul {
    margin: 0;
    padding: 0px 20px 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.extendableMenuElement {
    width: 85%;
    height: max-content;
    padding: 10px 20px 10px 20px;
    margin-top: 10px;
    list-style: none;
    transition: all 0.2s ease-in-out;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    border-radius: 5px;
    text-align: center;
}

.extendableMenuElement:hover {
    background-color: aliceblue;
    color: #3F3F3F;
    border-top: 2px solid #3F3F3F;
    border-bottom: 2px solid #3F3F3F;
}

.searchBar {
    flex-grow: 1;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: #3F3F3F;
    color: aliceblue;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 17px 30px 17px 0px;
}

.searchBarTextBox {
    padding: 5px;
    background-color: #3F3F3F;
    border: 0;
    margin-right: 20px;
    color: aliceblue;
    font-size: 18px;
}

.searchIcon {
    width: 25px;
    height: 25px;
    z-index: 1;
    object-fit: cover;
}

main {
    width: 80vw;
    height: max-content;
    margin-top: 30px;
}

.mainWeaponImage {
    width: 80vw;
    height: 25vw;
    object-fit: cover;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.secondaryWeaponsBox {
    width: 100%;
    height: max-content;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 12.5px;
    margin-top: 5px;
}

.secondaryWeaponImage {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.secondaryWeaponImage::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
  }

.text-over-image {
    color: aliceblue;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    margin: 0;
    z-index: 1;
}
 
.bottomWeaponImage {
    width: 80vw;
    height: 20vw;
    margin-top: 12.5px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    background-image: url("media/weapon6.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.bottomWeaponImage::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
  }

.textBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.weaponGridContainer {
    width: 100%;
    height: max-content;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 40px;
    margin-top: 70px;
}

.weaponBox {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.weaponBoxImage {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.weaponBoxPrice, .weaponBoxName, .weaponBoxDescription {
    text-align: left;
    width: 100%;
}

.weaponBoxPrice {
    color: #F93645;
}

.weaponBoxDescription {
    color: grey;
}

.weaponBoxMenu {
    width: 100%;
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.moreInfoButton {
    height: 100%;
    width: 80%;
    flex-grow: 1;
    background: #267FA6;
    color: aliceblue;
    border: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    transition: all 0.2s ease-in-out;
    border: 2px solid transparent;
}

.moreInfoButton:hover {
    cursor: pointer;
    border: 2px solid #3F3F3F;
    transform: scaleY(1.05);
}

.weaponBoxCartIcon {
    height: 31px;
    width: 31px;
    background-color: #F93645;
    padding: 10px;
    transition: all 0.2s ease-in-out;
    border: 2px solid transparent;
}

.weaponBoxCartIcon:hover {
    cursor: pointer;
    border: 2px solid #3F3F3F;
    transform: scale(1.05);
}

.promoBox {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 30px;
    margin-top: 100px;
}

.deliveryBox, .giftsBox {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #575757;
    padding: 15px 0px;
}

.deliveryBox h2, .giftsBox h2 {
    height: max-content;
    color: aliceblue;
}

.promoBoxImage {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 30px;
}
