body {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: max-content;
}

.headerTop {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

